{
	email {{ EMAIL }}
	acme_ca https://acme-v02.api.letsencrypt.org/directory

}

http:// {
    redir https://{host}{uri}
}

HTTPS server
https://spam.{{ DOMAIN }} {
	reverse_proxy 10.12.0.5:11334
}
https://postfixadmin.{{ DOMAIN }} {
	reverse_proxy 10.12.0.6:8888
}
https://webmail.{{ DOMAIN }} {
	reverse_proxy 10.12.0.7:8888
}